.AllContainer{
    display: flex;
    /* -webkit-box-pack: justify;
    justify-content: space-between; */
}   

button{
    border-radius: 5px;
    width: 150px;
    height: 40px;
    margin: 5px;
    padding-bottom: 50px;
}
#green{
    background-color: green;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
